/* MapPage.css */

.container {
    /*text-align: center;
    padding: 2rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 auto;
    width: 100%; /* 부모 컨테이너 너비 설정 */
    min-height: 100vh; /* 부모 컨테이너 높이 설정 */
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .interactive-map {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    overflow: visible; /*SVG가 잘리지 않게 설정*/
  }
  
  .region-info {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #333;
  }
  